server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    root /var/www/html;

    index index.html;

    location /.well-known {
        alias /var/www/certbot/.well-known;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
