server {
    listen 443 ssl;
    server_name monki.biz;

    ssl_certificate /etc/letsencrypt/live/monki.biz/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/monki.biz/privkey.pem;

    root /var/www/html;

    location / {
        try_files /index.html =404;
    }
}

server {
    listen 443 ssl;
    server_name www.monki.biz;

    ssl_certificate /etc/letsencrypt/live/monki.biz/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/monki.biz/privkey.pem;

    return 301 https://monki.biz;
}

server {
    listen 80;
    server_name monki.biz www.monki.biz;

    return 301 https://monki.biz;
}
