---

- name: create nginx index.html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    mode: 0644

# jenkins.cepaitis.eu

- name: create jenkins.conf
  template:
    src: jenkins.conf.j2
    dest: /etc/nginx/sites-available/jenkins.conf
    mode: 0644
  notify:
    - reload nginx

- name: link jenkins.conf
  file:
    src: /etc/nginx/sites-available/jenkins.conf
    dest: /etc/nginx/sites-enabled/jenkins.conf
    state: link
  notify:
    - reload nginx

# monki.biz

- name: create monki.biz.conf
  template:
    src: monki.biz.conf.j2
    dest: /etc/nginx/sites-available/monki.biz.conf
    mode: 0644
  notify:
    - reload nginx

- name: link monki.biz.conf
  file:
    src: /etc/nginx/sites-available/monki.biz.conf
    dest: /etc/nginx/sites-enabled/monki.biz.conf
    state: link
  notify:
    - reload nginx

...
