---
# Install Certbot
# https://certbot.eff.org/lets-encrypt/ubuntuxenial-other

- name: Install software-properties-common
  apt:
    name: software-properties-common
    state: present
    cache_valid_time: 3600
  when: ansible_pkg_mgr == 'apt'

- name: Add Certbot repository
  apt_repository:
    repo: ppa:certbot/certbot
  when: ansible_pkg_mgr == 'apt'

- name: Install Certbot
  apt:
    name: certbot
  when: ansible_pkg_mgr == 'apt'

- name: create www/certbot directory
  file:
    path: "/var/www/certbot/.well-known"
    state: directory

- name: Obtain Certbot certificates
  shell: |
    certbot certonly \
      --webroot --agree-tos --no-eff-email \
      --cert-name {{ item.cert_name }} \
      --email {{ item.email }} \
      --webroot-path {{ item.webroot_path }} \
      --domains {{ item.domains | join(',') }}
  args:
    creates: "/etc/letsencrypt/live/{{ item.cert_name }}/fullchain.pem"
  loop: "{{ certbot_certs }}"
  notify:
    - reload nginx

...
