---
# Install PostgreSQL

- name: "Add PostgreSQL key"
  apt_key:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    state: present
  when: ansible_pkg_mgr == 'apt'

- name: "Add PostgreSQL repo"
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_lsb.codename }}-pgdg main"
    filename: "pgdg"
    state: present
  when: ansible_pkg_mgr == 'apt'

- name: "Install PostgreSQL"
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - postgresql-10
      - pgadmin4
  when: ansible_pkg_mgr == 'apt'

- name: install prerequisites
  apt: name={{ item }}
  with_items:
    - libpq-dev
    - python-psycopg2
  when: ansible_pkg_mgr == 'apt'
  tags:
    - packages
    - dbusers

- name: "set postgres password"
  become_user: postgres
  postgresql_user:
    name: postgres
    password: "{{ postgres_password }}"
  tags:
    - db

- name: "create databases"
  become_user: postgres
  postgresql_db:
    name: "{{ item }}"
  loop:
    - acme
    - smmtest
    - birdbase
  tags:
    - db

- name: "add db users"
  become_user: postgres
  postgresql_user:
    db: birdbase
    name: birdbase
    password: password
    priv: "CONNECT"
  tags:
    - db

...
